

 
@media all and (min-width:1920px){
    .backdrop_shape img { 
        bottom: -360px;
        right: -111px;
        width: 837px; 
    }
    .yellow_shape { 
        bottom: 18%;
        left: 34%;
    }
} 
@media all and (max-width:991px){
    h2 { 
        font-size: 40px;
        line-height: 55px; 
    }
    .backdrop_shape img { 
        right: -76px;
        width: 869px; 
        bottom: -266px;
    }
    .xoxo { 
        display: none;
    }
    .safe_area .row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    .mobile_none{
        display: none;
      }
      .desktop_none{
        display: block;
      }
      .safe_content {
        width: 83%;
        margin: auto 0 auto auto;
    }
    .elements_item_pic > img {
        width: 57% !important;
    }
    .elements_bg { 
        height: 673px;
        top: 47px; 
    }
    .cate_birt_img img {
        width: 382px;
    }
    .cate_birt_img { 
        bottom: -93px;
        left: -169px;
    }
    .cate_birt_img { 
        z-index: 9;
    }
    .elements_item_pic { 
        margin-left: -38px;
    }
    .elements_content {
        width: 58%;
    }
    .elements_shape img { 
        bottom: 100px;
        left: 53%;
        right: 0; 
        width: 332px; 
    }
    .section-padding { 
        margin: 0;
    }
    .backdrop_area {
        margin: 0;
        margin-bottom: 162px;
    }
    .colla_sun { 
        width: 60%;
    }
    .item_pic.item_door {
        position: absolute;
        bottom: 254px;
        right: 0;
        width: 235px;
    }
    .colla_content {
        width: 60%;
    }
    .colla_bg { 
        height: 643px;
        top: 33px;
        left: 0;
    }
    .elements_images {  
        right: 0;
    }
    .yellow_shape { 
        bottom: 5%;
        left: 3%;
    } 
    .safe_bg { 
        height: 588px; 
    }
    .safe_shape img { 
        top: 10px;
        left: 0; 
    }
}



@media all and (max-width:767px){
    .banner_area .row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    .elements_item_pic > img {
        width: 66% !important;
    }
    .elements_images { 
        top: 7px;
    }
    .home_banner { 
        height: 487px; 
    }
    .backdrop_area {
        margin: 0; 
    }
    .bacdrop_bg { 
        display: none;
    }
    .item_content_right a { 
        margin-top: 20px;
        display: inline-block;
    }
    .yellow_shape { 
        bottom: 40%;
        left: 0%;
    }
    .white_shape { 
        top: 5%;
        left: 4%;
    }
    .item_content {
        text-align: left;
    }
    h2 {
        font-size: 36px;
        line-height: 49px;
        width: 100%;
        margin: 0;
    }
    p { 
        font-size: 14px;
        line-height: 19px; 
    }
    .backdrop_shape img {
        right: -26px;
        width: 465px;
        top: -477px; 
    }
    .safe_content {
        width: 84%;
        margin: auto 0 auto auto;
        text-align: right;
    }
    .cate_birt_img img { 
        display: none;
    }
    .item_pic.category_img > img {
        width: 185px;
        height: auto;
        position: relative;
        z-index: 9;
        top: 170px;
    }
    .elements_content {
        width: 100%;
    }
    .elements_item_pic {
        margin-left: -16px;
        margin-bottom: 129px;
    }
    .elements_shape img {
        bottom: 43%;
        left: 12%;
        right: 0;
        width: 365px;
    }
    .colla_sun {
        width: 43%;
    }
    .item_pic.item_door {
        top: 22%;
        width: 184px;
    }
    .category_btn { 
        margin-top: 40px;
    }
    .colla_content {
        width: 100%;
        margin-top: 160px;
    }
    .item_content h2 {
        margin-top: 24px;
    }
    .first_item_shape {
        display: block;
        position: absolute;
        bottom: -51px;
        left: 19px;
    }
    .backdrop_area .item_content_right h2 {
        margin: 0;
    }
    .item_content.safe_content h2 {
        width: 100%;
    } 
    .colla_sun > img {
        width: 220px;
        height: auto; 
    }

    .colla_sun {
        width: 55%; 
    }
    .colla_sun_shape img {
        width: 185px;
    }
    .colla_sun_shape {
        position: absolute;
        top: -123px;
        right: -73px;
    }
    .colla_area {
        margin-bottom: 150px;
    }
    .colla_area .colla_content {
        margin-top: 25px;
    }
    .colla_bg { 
        height: 401px;
        top: 7%;
        left: 0;
    }
    .colla_area .colla_content {
        margin-top: 166px;
    }
}

@media all and(max-width:375px){
    
}