/* font-family: 'Inter', sans-serif; */ 




/* Default CSS */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, span, video {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   background: transparent;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
html{ 
  overflow-x: hidden;
}
body{
  font-family: 'Manrope', sans-serif;
  background: #FFF2E2;
}
button{
  outline: none !important;
}
input
{
    outline:none !important;
}

h1,h2,h3,h4,h5,h6,p{
  margin:0;
  padding:0;
}
input, button, textarea, select{
  outline: none;
}
.btn.focus, .btn:focus {
  outline: none;
  box-shadow: none !important;
}

ul{
  margin:0;
  padding: 0;
  list-style: none;
}
a{
  margin:0;
  padding:0;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

h2 {
	font-weight: 800;
	font-size: 48px;
	line-height: 60px;
	color: #000000;
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: auto 0 0 auto;
}

p {
	font-weight: 500;
	font-size: 20px;
	line-height: 27px; 
	color: #000000;
}
.btn_style {
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;  
	color: #000000;
	border: none;
	padding: 12px 30px;
	background: #FFCCB7;
	border-radius: 12px;
  font-family: 'Inter', sans-serif;
  
  transition: 0.3s;
}
.btn_style:hover {
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), #FFCCB7;
}

.section-padding {
	padding: 90px 0;
  margin: 45px 0;
}
.mobile_none{
  display: block;
}
.desktop_none{
  display: none;
}
/* Banner Area  */

.banner_area{
  width: 100%;
  background: url('../images/banner_bg.svg') no-repeat scroll center center / cover;
}

.item_content {
	text-align: right;
}

.item_content p {
	margin: 24px 0;
}

.item_pic svg {
	width: 100%;
	height: 100%;
}

.item_pic p {
	font-weight: 500;
	font-size: 14px;
	line-height: 19px;
	text-align: right;
	color: #000000;
	margin-top: 2px;
}
.item_pic > img {
	width: 100%;
}


/* Backdrop area css  */
.backdrop_area {
	width: 100%;
	position: relative; 
  margin-bottom: 150px;
}

.bacdrop_bg {
	position: absolute;
	background: url('../images/backdor_bg.svg') no-repeat scroll center center / cover;
	width: 100%;
	height: 571px;
	top: 82px;
	z-index: -1;
}

.xoxo_shape {
	width: 205px;
}
.xoxo{
  text-align: end;
}
.item_pic.item_next > img{
  width: 100%;
}
.xoxo {
	text-align: end;
	margin-top: 22px;
}

.backdrop_shape img {
	position: absolute;
	bottom: -251px;
	right: -135px;
	width: 760px;
	z-index: -1;
}

.item_pic.item_next {
	position: relative;
	z-index: 5;
}

.item_ball {
	position: absolute;
	top: -4px;
	left: -66px;
}

.item_content_right {
	text-align: left;
	position: relative;
	z-index: 2;
}

.item_pic.item_next p {
	text-align: left;
}

.backdrop_btn{
  background: #E8DA91;
}

.item_content_right a {
	font-weight: 800;
	font-size: 20px;
	line-height: 60px;
	color: #027B8D;
} 
.item_content_right h2 {
	margin: 0;
	width: 95%;
}


/* Safe area css  */

.safe_area{
  position: relative;
  width: 100%;
	background: url('../images/safe_bg.svg') no-repeat scroll center center / cover;
}

.safe_shape img {
	position: absolute;
	top: 0;
	left: 0;
	width: 115px;
}

.lern_more{
   background: #434141;
   color: #fff;
}
.item_content.safe_content h2 {
	width: 73%;
}

/* elements area css  */

.elements_area{
  position: relative;
	background: url('../images/element/element_bg.svg') no-repeat scroll center center / cover;
}

.category_btn{
  background: #EB7E95;
  color: #fff;
}

.elements_images {
	position: absolute;
	top: 17px;
}

.elements_images > img {
	width: 303px;
	height: 381px;
}

.cate_birt_img {
	position: absolute;
	bottom: -198px;
	left: -219px;
}
.first_item_shape{
  display: none;
}
.cate_birt_img img {
	width: 381px;
}
.elements_shape img {
	position: absolute;
	bottom: -111px;
	left: 0;
	right: 0;
	margin: auto;
	width: 542px;
	z-index: 9;
}
.elements_content h2 {
	margin: 0;
	width: 100%;
}
.elements_content p {
	width: 87%;
}

/* colla area css  */

.colla_area{
  width: 100%;
  position: relative;
  margin-top: 200px;
}

.colla_bg {
	background: url('../images/colla/colla_bg.svg') no-repeat scroll top center / cover;
	height: 500px;
	width: 100%;
	top: -1%;
	left: 0;
	position: absolute;
	z-index: -1;
}

.item_door img{
  width: 100%;
}

.colla_sun{
  position: relative;
}

.colla_sun > img {
	width: 100%;
	height: 423px;
}

.colla_sun_shape {
	position: absolute;
	top: -131px;
	right: -108px;
}

.colla_sun_shape img {
	width: 224px;
}

.item_door p,
.colla_sun p {
	text-align: left;
}

.item_pic.item_door {
	position: absolute;
	width: 261px;
	top: 58px;
}

.colla_btn{
  background: #E8DA91;
}


/* btn hover css  */

.backdrop_btn:hover{
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), #E8DA91;
}

.lern_more:hover{
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), #434141;
}

.category_btn:hover{
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), #EB7E95;
}

.colla_btn:hover{
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), #E8DA91;
}